html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;
    box-sizing: border-box;
}

.main-el {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 150px;
}

input {
    color: #432000;
    background-color: #DCE1EB;
    border: 0;
}

button {
    color: #FDFDFD;
    background-color: #AC485A;
    border-style: none;
}

input,
button {
    height: 3rem;
    width: 100%;
    text-align: center;
    font-family: inherit;
    font-size: medium;
    border-radius: 0.5rem;
    margin: 0.5rem;
}
